.calc {
  max-width: 270px;
  margin: 0 auto;
  width: 100%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  flex-wrap: wrap;
}

.calc_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0055E5;
  box-shadow: inset -2px 0 3px #001590, inset 1px 0 2px #0028C4, inset 0 -2px 3px #013EBF, inset 0 -12px 6px #026AFE, inset 0 4px 3px #3897FF;
  border-radius: 8px 8px 0 0;
  padding: 6px;
}

.calc_icon {
  display: flex;
}

.calc_nav_bar {
  display: flex;
  margin: 0 -2px;
}

.calc_nav_bar button {
  background: transparent;
  margin: 0 2px;
}

button {
  border: none;
  cursor: pointer;
  background: transparent;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

.calc_icon span {
  margin-left: 4px;
}

.calc_nav ul {
  display: flex;
}

.calc_nav li {
  list-style: none;
  margin: 0 7px;
}

.calc_body {
  background: #004CFF;
  box-shadow: inset 2px 2px 2px #0732D9, inset -2px -2px 2px #00138C;
  padding: 0 3px 3px;
}

.calc_bg {
  background: #ECE9D8;
}

.input_box input {
  border: 1px solid #7F9DB9;
  width: 100%;
  text-align: right;
  padding: 4px 8px 6px;
  font-size: 9px;
}

.calc_main {
  padding: 3px 10px 10px;
  border-top: 1px solid #FFFFFF;
}

.input_box {
  display: flex;
}

.btn_box button,
.calc_top_buttons button {
  background: linear-gradient(180deg, #FFFFFF 0%, #F0F0EA 100%), #F5F5F1;
  border: 1px solid #003C74;
  box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75), -1px -1px 0 rgba(0, 0, 0, 0.05), inset -1px -2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 0 3px;
  margin: 3px;
  min-height: 26px;
}

.btn_box button {
  width: 32px;
}

.calc_top_buttons button {
  min-width: 60px;
}

.square {
  width: 26px;
  height: 26px;
  background: #ECE9D8;
  box-shadow: inset -1px -1px 1px #FFFFFF, inset 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.calc_top_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0 10px;
}

.calc_nav li:hover {
  opacity: 0.2;
}

.btn_left {
  display: flex;
  flex-direction: column;
  margin-right: 9px;
}

.calc_block {
  display: flex;
}

/*todo*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: system-ui;
}

.App {
  max-width: 350px;
  padding: 30px 15px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 7px 15px 0 rgb(255 255 255 / 64%);
  width: 100%;
}

div#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #252525;
}

input[type="text"] {
  padding: 10px 70px 5px 5px;
  width: 100%;
  border-radius: 5px;
}

.box button {
  padding: 5px 10px;
  background: #1ec71e;
  border: none;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  color: #fff;
  text-transform: capitalize;
  font-size: 20px;
  border-radius: 0 5px 5px 0;
}

.box {
  position: relative;
  margin-bottom: 25px;
  flex: 0 0 100%;
}

.list li {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.list li label {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

span:before {content: '';width: 16px;height: 16px;display: block;background: lightgray;transition: all .3s ease;margin-right: 10px;}

.list  span {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 1;
  transition: all .3s ease;
}

input[type="checkbox"]:checked + span:before {
  background: gray;
}

input[type="checkbox"] {
  display: none;
}

.list button {
  border: 0;
  background: red;
  color: #fff;
  padding: 5px 10px;
  border-radius: 6px;
  transition: all .3s ease;
}

.list button:hover {
  background: #b92727;
}

input[type="checkbox"]:checked + span {
  text-decoration: line-through;
}

.list li label:hover span {
  color: rgb(0 0 0 / 70%);
}
.box button:hover {
  background: #40e140;
}
.chengText {
  display: flex;
  align-items: center;
  position: relative;
}

.chengText button {
  background: #333ad1;
  text-transform: capitalize;
  position: absolute;
  right: 0;
  height: 100%;
}


.chengText button:hover {
  background: #898df1;
}
label,
button {
  cursor: pointer;
}
header {
  position: absolute;
  left: 0;
  top: 0;
  background: #fff;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_list li {
  list-style: none;
  margin: 0 10px;
  font-size: 25px;
}